body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #959595; 
    background-color: #ffffff;
}


*:focus {
    outline: none;
}

#menu {
    background-color: #333;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.link {
    color: #666; 
    margin-right: 20px;
    cursor: pointer;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}

.grid {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: 300px;
    text-align: center;
}

.boton-falso {
    background-color: #eee;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}



.form-group {
    padding: 20px;
    max-width: 400px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.submit-btn {
    background-color: #00FF00; 
    color: white;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}