body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #222; 
    background-color: #ffffff;
}

#menu {
    background-color: #333;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#menu .link {
    color: #fff; 
    margin-right: 20px;
    text-decoration: none;
}

#menu .link:focus, #menu .link:hover {
    outline: 2px solid #00f;
}

.section-title, h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}

.grid {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: 300px;
    text-align: center;
}

.card button {
    background-color: #2d69fd;
    color: white;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.card button:focus {
    outline: 2px solid #000;
}

.form-group {
    padding: 20px;
    max-width: 400px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

input:focus, textarea:focus, button:focus {
    outline: 2px solid #000;
}

.submit-btn {
    background-color: #043311; 
    color: white;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}